<div id="main"> Gymnast | UCLA CS/Math Grad 2017 | Software Engineer Intern | C/C++, Java, Python, SQL, JavaScript, HTML, CSS | MS SQL, Visual Studio, Node.js, Linux | Looking for Cool Projects to dive into </div>
